@using System.Security.Claims;
@model List<PROJECT_Reddit_wanna_be_.Models.Posts>

@{
    Layout = "_LayoutPosts";
}

<style>
    .post-container {
   
    }

    .post-wrapper {
        border: 1px solid #ccc;
        width: 220px;
        height: 220px;
        margin-bottom: 10px;
        
    }

    .post {
        padding: 10px;
        box-sizing: border-box;
    }

    .post-header {
        font-weight: bold;
    }

    .post-content {
        margin-top: 10px;
    }

    .post-footer {
        margin-top: 10px;
    }
</style>

<h1>Posts for Selected Topic</h1>

<form asp-controller="Main" asp-action="CreatePost" asp-route-topicId="@ViewBag.TopicId">
    <input type="Content" name="Content" placeholder="Content" required />
    <button type="submit" class="btn btn-primary">Post</button>
</form>

<div class="post-container">
    @foreach (var post in Model ?? Enumerable.Empty<PROJECT_Reddit_wanna_be_.Models.Posts>())
    {
        <div class="post-wrapper">
            <div class="post">
                <div class="post-header">
                    <span>@post.Username</span>
                   
                </div>
                <div class="post-content">
                    @post.Content
                </div>
                <div class="post-footer">
                    <a class="show-comments" href="@Url.Action("GetComments", "Main", new { postId = post.Id })">Comments</a>
                    
                </div>
            </div>
            <div class="post-actions">
                @if (ViewBag.UserID == post.UserID)
                {
                    <a href="@Url.Action("DeletePost", "Main", new { postId = post.Id, topicId = post.TopicID })">Delete</a>
                    <a href="@Url.Action("EditPost", "Main", new { postId = post.Id, topicId = post.TopicID })">Edit</a>
                }
            </div>
            <div>
                <span>@post.PostedDate</span> </div>
        </div>
    }
</div>