@model LoginModel

<h2>Login</h2>

@*@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div>
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div>
        <p>
            You don't have an account! <a asp-controller="Account" asp-action="Register">Register here</a>!
        </p>
    </div>
    <button type="submit"value="Login">Login</button>

}*@<form asp-controller="Account" asp-action="Login">
    <input type="username" name="UserName" placeholder="Username" required />
    <input type="password" name="Password" placeholder="Password" required />
    <button type="submit">LOG-IN</button>
    <div>
        <p>
            You don't have an account! <a asp-controller="Account" asp-action="Register">Register here</a>!
        </p>
    </div>
</form>